{{set . "title" "Edit User"}}
{{template "header.html" .}}

</br>
<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="span6">
            {{template "flash.html" .}}
        </div>
    </div>
</div>
<body>


<div class="container">
    <fieldset>
        <legend class="heading">User Edit</legend>
        <form class="form-group" method="post" action="{{url "Users.Save"}}">

        <label for="id">ID</label>
        <input id="id" type="text" name="user.ID" class="form-control" disabled autofocus value="{{.user.ID}}"></input>

        {{with $field := field "user.Username" .}}
        <p class="{{$field.ErrorClass}}">
            <label for="Username">Username</label>
            <input type="text" id="Username" name="{{$field.Name}}" value="{{$field.Value}}" class="form-control">
            <span class="error">{{$field.Error}}</span>
        </p>
        {{end}}
        {{with $field := field "user.Name" .}}
        <p class="{{$field.ErrorClass}}">
            <label for="name">Name</label>
            <input id="name" type="text" name="{{$field.Name}}" value="{{$field.Value}}" class="form-control"></input>
            <span class="error">{{$field.Error}}</span>
        </p>
        {{end}}
        {{with $field := field "user.Password" .}}
        <p class "{{$field.ErrorClass}}">
        <label for="password" accesskey="p">Password</label>
        <input id="password" type="password" name="{{$field.Name}}" value="{{$field.Value}}"  class="form-control" placeholder="รหัสผ่าน อย่างน้อย 5 ตัวอักษร"></input>
        </p>
        {{end}}
        {{with $field := field "user.verifyPassword" .}}
        <p class="{{$field.ErrorClass}}">
        <label for="vpassword">Verify Password</label>
        <input id="vpassword"  type="password" name="{{$field.Name}}" value="{{$field.Value}}" class="form-control" placeholder="ยืนยันรหัสผ่าน"></input>
        </p>
        {{end}}

        {{with $field := field "user.Role" .}}
        <p class "{{$field.ErrorClass}}">
        <label for="role">Role</label>
        <select id="role"  name="{{$field.Name}}" value="{{$field.Value}}" class="form-control">
            <optgroup label="System">
                <option label="System Manager" value="SYSMANAGER"></option>
                <option label="System Admin" value="SYSADMIN"></option>
            </optgroup>
            <optgroup label="Client">
                <option label="Manager" value="MANAGER>"></option>
                <option label="Admin" value="ADMIN"></option>
                <option label="Cashier" value="CASHIER"></option>
            </optgroup>
        </select>
        </p>
        {{end}}
    </fieldset>
    <input type="submit" value="Save" class="btn btn-primary btn-block"></input>
    </form>
</div></br>


<div class="container" align="center"> <!-- Show Control -->
    <a href="{{url "Users.Show" .user.ID}}" class="btn btn-info btn-md">
    <span class="glyphicon glyphicon-menu-left"></span> Cancel
    </a>
    <a href="{{url "Users.Show"}}" class="btn btn-info btn-md">
    <span class="glyphicon glyphicon-backward"></span> Previous
    </a>
    <a href="{{url "Users.Show"}}" class="btn btn-info btn-md">
    <span class="glyphicon glyphicon-forward"></span> Next
    </a>

    <!--<a href="{{url "Users.Save"}}" class="btn btn-info btn-lg">-->
    <!--<span class="glyphicon glyphicon-pencil"></span>Save-->
    <!--</a>-->
</div>

</body>

{{template "footer.html" .}}