{{set . "title" "Users Index"}}
{{template "header.html" .}}
</br>
<div class="container">
    <div class="row">
        <div class="span6">
            <!--<div class="col-md-6">-->
            {{template "flash.html" .}}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12" >
            <h2>User Index:</h2>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Role</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{range .users}}
                    <a href="{{url "Users.Show" .ID}}">
                    <tr>
                            <td>{{.ID}}</td>
                            <td><a href="{{url "Users.Show" .ID}}">{{.Username}}</a></td>
                            <td><a href="{{url "Users.Show" .ID}}">{{.Name}}</a></td>
                            <td>{{.Role}}</td>
                    </tr>
                    </a>
                    {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
            <div class="container" align="center">
                <!--<span class="glyphicon glyphicon-user"></span>-->
                <!--<a href="{{url "Users.New"}}">ลงทะเบียนผู้ใช้ใหม่</a>-->
                <a href="{{url "Users.New"}}" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-user"></span> ลงทะเบียนผู้ใช้ใหม่
                </a>
            </div>
        </div>

        <br/>

    </div>
</div>



{{template "footer.html" .}}