<!DOCTYPE html>
{{set . "title" "Users"}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:#A9F16C">
    <div class="container">
        <div class="row">
            <div class="hero-text">
                <h1>User</h1>

            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="span6">
            {{template "flash.html" .}}
        </div>
    </div>
</div>

<body>

<div class="container">
    <div class="row">
        <p>User Index:
            {{range .users}}
        <li>{{.Username}} {{.Name}}</li>
        {{end}}
        <br/>
        </p>
    </div>
</div>
<p>
    <a href="{{url "User.New"}}">ลงทะเบียนผู้ใช้ใหม่</a>
</p>

</body>
</html>

{{template "footer.html" .}}