{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="container">
  <div class="row">
    <div class="span6">
    <!--<div class="col-md-6">-->
      {{template "flash.html" .}}
    </div>
  </div>
</div>

<div class="container">

  <form class="form-signin" method="post" action="{{url "App.Login"}}">
    <h2 class="form-signin-heading">Please sign in</h2>

    <label for="inputUser" class="sr-only">Username</label>
    <input type="text" name="username" id="inputUser" class="form-control" placeholder="ชื่อผู้ใช้" value="{{.flash.username}}" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="รหัสผ่าน" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me" name="remember"> จำฉันไว้
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>

</div> <!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

{{template "footer.html" .}}
