  {{if eq .RunMode "dev"}}
    {{template "debug.html" .}}
  {{end}}

  <div class="container" align="center">
      <div class="col-md-12">
          {{if .user}}
          <div id="options">
              Connected as {{.user.Username}}
              |
              <a href="{{url "Users.Index"}}">Search</a>
              |
              <a href="{{url "App.Logout"}}">Logout</a>
          </div>
          {{end}}
          <p>My Locale is: {{.currentLocale}} //--// Greeting: {{msg . "greeting"}}</p>
      </div>
  </div>
  </body>

  <!-- Bootstrap core JavaScript
================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</html>
